*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,Arial,sans-serif;
}

body{
    background-color: #f1f3f6;
}

.login{
    display: flex;
    justify-content: center;
    padding: 0;
}

.login button{
    border-radius: 0;
    border: 0;
    padding: 0.375rem 2.75rem;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.login-list a{
    font-size: .8em;
}

#signUp{
    font-size: 1em;
}

/* More Button */
.more{
    width: 100%;
    padding: 0;
    
}
.more-list{
    font-size: .8em;
}


